body{
    display: grid;
    grid-template-areas: 'nav' 'header' 'aside' 'section' 'div' 'footer';
    grid-template-rows: 8px 550px 50vh 50vh 50vh 12vh;
    margin: 0;
}
nav{
    grid-area: nav;
    background-color: #31cb71;
}
header{
    background-image: url(img/banner.png);
    grid-area: header;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header div{
    background: none;
    width: 30%;
}
header div h1{
    font-family: 'Pacifico', cursive;
    font-size: 34pt;
    font-weight: 90;
}
header div h3{
    font-family: 'Roboto', sans-serif;
}
header div div{
    height: 300px;
    width: 85%;
}
header div div div{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
header div div div a{
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div div div a:hover{
    background-color: #31cb71;
    transition: 0.6s;
}
header div div div a img{
    width: 20px;
    height: 20px;
}
.heigth-img{
    display: flex;
    align-items: flex-end;
    height: 100%;
}
header div img{
    height: 450px;
}
header div h1 span{
    color: #31cb71;
}
aside{
    background-color: white;
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside div{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 90%;
}
aside div header, aside div section, aside div footer{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}
aside div header div, aside div section div, aside div footer div{
    border-radius: 100%;
    background-color: #31cb71;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside div header div img, aside div section div img, aside div footer div img{
    width: 35px;
    height: 35px;
}
aside div header h2, aside div section h2, aside div footer h2{
    font-family: 'Roboto', sans-serif;
    color: black;
}
aside div header p, aside div section p, aside div footer p{
    font-family: 'Roboto', sans-serif;
    color: gray;
    text-align: center;
}
section{
    background-color: lightgray;
    grid-area: section;
    display: flex;
    justify-content: center;
}
section div{
    width: 90%;
    background: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
section div div{
    background: none;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 80%;
    text-align: justify;
    align-items: flex-start;
    width: 45%;
}
section div div form{
    display: flex;
}
section div div form input{
    border: none;
    border-radius: 10px 0 0 10px;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    padding: 10px;
    width: 250px;
}
section div div form button{
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #31cb71;
    cursor: pointer;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    width: 100px;
}
section div aside{
    background: none;
    width: 50%;
    height: 100%;
}
section div aside iframe{
    height: 85%;
    width: 90%;
}
div{
    background-color: white;
    grid-area: div;
}
footer{
    background-color: lightgray;
    grid-area: footer;
}